.form-floating .form-control {
    padding: 2.2rem 0.25rem !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding-bottom: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}

.float {
    float: right;
    text-decoration: none;
}

.col-md-7 img {
    width: 90%;
    height: 80%;
}